body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Layout*/
.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 30px;
}
.hotline{
    padding:5px 0px;
}
.contact{
    padding:5px 0px;
    text-align:right;
}
.contact > span > a:hover{
    text-decoration:none;
}
.navbar{
    min-height:40px;
}
.navbar-brand{
    padding:10px 15px;
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}